@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'placeholders.scss';
@use 'sass:color';

.info-card{
    width: 180px;
    height: 205px;
    padding: 20px 10px 0;
    border-radius: 20px;
    background-color: rgb(131, 170, 255);
    @include m.d-flex(start, center, nowrap, column, 0, 10px );
    transition: box-shadow .3s ease;
    &__icon{
        width: 40px;
        height: 40px;

    }
    &__title{
        @include m.font(18px, 500, black);
    }
    &__desc{
        text-align: center;
        @include m.font(16px, 400, black);
    }
    &:hover{
        cursor: pointer;
        background-color: rgb(162, 185, 234);
        box-shadow: 5px 5px 10px rgb(23, 8, 97);
        .info-card__title, .info-card__desc{
            color: white;
        }
    }

    @media(max-width:v.$media_xs){
        width: 140px;
        height: 170px;
        &__title{
        @include m.font(14px, 500, black);
        }
        &__desc{
        @include m.font(11px, 400, black);
        }
    }
}

.img-card{
    width: 325px;
    height: 295px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(131, 170, 255);
    @include m.d-flex(space-between, center, nowrap, column, 0, 0);
    
    &__title{
        @include m.font(23px, 400, white);
        @include m.d-flex(center, center, nowrap, column, 0, 0);
        flex-grow: 1;
    }
    &__bg{
        width: 100%;
        height: 220px;
    }
    &__btn{
        @include m.pos(absolute, 1, -1, bottom, left, -20px, -30px);
        width: 120px;
        height: 90px;
        border: none;
        border-radius: 20px;
        rotate: z 9deg;
        transition: rotate .2;
        
        &-arrow{
            width: 60px;
            height: 46px;
            rotate: -9deg;
            translate: 12px -6px;
            
        }

        &:hover{
            cursor: pointer;
            rotate: z 0deg;
            scale: 1.3;
            .img-card__btn-arrow{
                rotate: 0deg;
            }
            
        }
    }
    &:hover{
        cursor: pointer;
        background-color: rgb(162, 185, 234);
        box-shadow: 5px 5px 10px rgb(23, 8, 97);
    }
}

.review-card{


    flex-shrink: 0;
    width: 500px;
    height: 275px;
    background: url('../assets/wave_card_bg\ \(1\).svg') center/contain no-repeat;
    @include m.d-flex(start, start, nowrap, column, 0, 35px);
    &__avatar{
        width: 55px;
        height: 55px;
        margin: 20px 0 0 20px;
    }

    &__quote{
        @include m.font(20px, 400, white);
        margin: 0 30px;
        line-height: 1.4;
    }

    @media(max-width: v.$media_m){
        width: 330px;
        row-gap: 15px;
        background: url('../assets/wave_card_bg\ \(1\).svg') 50% 0/contain no-repeat;
         &__quote{
        @include m.font(13px, 400, white);
                }
    }
}