@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'placeholders.scss';
@use 'sass:color';

.info-card{
    width: 180px;
    height: 205px;
    padding: 20px 10px 0;
    border-radius: 20px;
    background-color: rgb(131, 170, 255);
    @include m.d-flex(start, center, nowrap, column, 0, 10px );
    transition: box-shadow .3s ease;
    &__icon{
        width: 40px;
        height: 40px;

    }
    &__title{
        @include m.font(18px, 500, black);
    }
    &__desc{
        text-align: center;
        @include m.font(16px, 400, black);
    }
    &:hover{
        cursor: pointer;
        background-color: rgb(162, 185, 234);
        box-shadow: 5px 5px 10px rgb(23, 8, 97);
        .info-card__title, .info-card__desc{
            color: white;
        }
    }

    @media(max-width:v.$media_xs){
        width: 140px;
        height: 170px;
        &__title{
        @include m.font(14px, 500, black);
        }
        &__desc{
        @include m.font(11px, 400, black);
        }
    }
}